<template id='comment_ajax_form'>
    <div class="row" id="comment_ajax_template">
        <div class="col 12 m10 offset-m1">
            <div class="card">
                <div class="card-content">
                    <span class="card-title purple-text lighten-1">New Comment</span>
                    <form id="comment_form">{% csrf_token %}
                        {{ form.as_p }}
                    </form>
                    <button
                            id="submit_comment_btn" 
                            type="submit"
                            data-submiturl="{% url 'add_comment_to_post' id=post_id %}"
                            class="waves-effect waves-light btn-small">Send</button>
                </div>
            </div>
        </div>
    </div>
</template>

