{% extends 'posts/layout.html' %}

{% block javascript %}
    <script>
        // AJAX LIKE
        // create event listener for each button
        let comment_like_buttons = document.getElementsByClassName("btn-comment-like");
        
        for (var i=0; i<comment_like_buttons.length; i++) {
            comment_like_buttons[i].addEventListener("click", likeButtonPressed);
        }

        function likeButtonPressed() {
            comment_id = this.getAttribute('data-commentid');

            likeButton = this;
            url = "../../../comment/" + comment_id + "/like/"
            // create XHR Object
            
            let xhr = new XMLHttpRequest();
            // OPEN - type, url/filename, async
            xhr.open('GET', url, true);

            xhr.onload = function(){
                if (this.status == 200) {
                    let responseJSON = JSON.parse(this.response);
                    likeCounter = document.querySelector("div.like_counter[data-commentid='" + comment_id + "']");
                    currentCount = parseInt(likeCounter.innerText);
                    if (responseJSON.action == "DEL_LIKE") {
                        likeButton.setAttribute('class',likeButton.className.replace('lighten-1','lighten-4'));
                        newCount = currentCount -= 1;
                    } else if (responseJSON.action == "ADD_LIKE") {
                        likeButton.setAttribute('class',likeButton.className.replace('lighten-4','lighten-1'));
                        newCount = currentCount += 1;
                    }
                    likeCounter.innerText = newCount;
                }
            }
            // sends request
            xhr.send();
        }
    </script>
    <script>
        // AJAX COMMENT FORM
        let createCommentBtn = document.getElementById('ajax_comment');
        let submitCommentBtn = null;
        let form_shown = false;
        createCommentBtn.addEventListener("click", createCommentBtnPressed);
        
        function createCommentBtnPressed() {
            // toggles the form showing
            console.log('createCommentBtnPressed!');
            form_shown = !form_shown;
            if (form_shown) {
                showCommentForm();
            } else {
                hideCommentForm();
            }
        }

        function showCommentForm() {
            let link = document.querySelector('head link[rel="import"]');
            let template = link.import.querySelector('template');
            let clone = document.importNode(template.content, true);
            document.querySelector('#ajax_comment_container').appendChild(clone);

            submitCommentBtn = document.getElementById('submit_comment_btn');
            submitCommentBtn.addEventListener("click", submitComment);
        }

        function hideCommentForm() {
            document.querySelector('#comment_ajax_template').remove();
        }

        // handles the AJAX POST
        function submitComment() {
            console.log('submitBtnPressed');
            
            let url = submitCommentBtn.getAttribute('data-submiturl');

            let commentForm = document.getElementById('comment_form');
            let formData = new FormData(commentForm);

            let c_author = document.getElementById('data-comment_author').value;
            let c_body = document.getElementById('data-comment_body').value;
         
            let xhr = new XMLHttpRequest();
            
            xhr.open('POST', url, true);

            xhr.onload = function(){
                if (this.status == 200) {
                    let responseJSON = JSON.parse(this.response);
                    console.log(responseJSON);

                    hideCommentForm();
                    form_shown = false;
                    renderNewComment(responseJSON.comment_id);
                }
            };
            
            xhr.send(formData);
        }

        function renderNewComment(comment_id) {
            // create new template tag from url
            let template = document.createElement('template');

            let xhrGetCommentHTML = new XMLHttpRequest();
            let url = "../../../posts/comment/" + comment_id + "/"
            let commentHTML = null;
            xhrGetCommentHTML.open("GET", url, true);
            
            xhrGetCommentHTML.onload = function(){
                if (this.status == 200) {
                    commentHTML = this.response.trim();
                    template.innerHTML = commentHTML;
                    let clone = document.importNode(template.content, true);
                    document.querySelector('#comment-collection').appendChild(clone);
                }
            };

            xhrGetCommentHTML.send();

        }

    </script>
{% endblock %}

{% block head %}
    <link rel="import" href="{% url 'add_comment_to_post' id=post.id %}">
{% endblock %}

{% block content %}
    <h4 class='center-align purple-text lighten-1'> {{post.title}} </h4>
    <div class='card'>
        <div class='card-content'>
            {{post.body}}
        </div>
        <div class="card-action">
            <div class="row">
                    <div class="col"><strong>Created </strong>{{post.created_at}}</div>
                    {% if post.published_at %}
                        <div class="col"><strong>Published </strong>{{post.published_at}}</div>
                    {% endif %}
            </div>
        </div>
    </div>

    {% if user.is_authenticated %}
        <div class='row'>
            <div class='col'>
                    <a class="waves-effect waves-light btn-small" 
                        href="{% url 'post_edit' id=post.id %}">
                        <i class="material-icons left">create</i>Edit Post
                    </a>
            </div>
            {% if not post.published_at %}
                <div class="col">
                    <a class="waves-effect waves-light btn-small"
                        href="{% url 'post_publish' id=post.id %}">
                        <i class="material-icons left">publish</i>Publish
                    </a>
                </div>
            {% endif %}
            <div class='col'>
                <a class="waves-effect waves-light btn-small"
                    href="{% url 'post_remove' id=post.id %}">
                    <i class="material-icons left">delete</i>Delete Post
                </a>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col"><h6>Comments</h6></div>
        <div class="col">
            <a class="btn-flat waves-effect waves-light"
                id="ajax_comment">
                Add Comment</a>
        </div>
    </div>
    <div id = "ajax_comment_container"></div>
    <ul class='collection' id="comment-collection">
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
                {% include "posts/comment_card.html" %}
            {% endif %}
        {% empty %}
            <p>No comments here yet.</p>
        {% endfor %}
    </ul>

    

    {% if post.published_at %}
        <!-- if published, go back to main site -->
        <a class='btn-small waves-effect waves-light' href="/posts">Go Back</a>
    {% else %}
        <!-- if not published, go to drafts view-->
        <a class='btn-small waves-effect waves-light' href="/drafts">Go Back</a>
    {% endif %}


{% endblock %}