{% extends 'posts/layout.html' %}

{% block content %}
<h3 class='center-align purple lighten-3'> {{post.title}} </h3>
<div class='card'>
    <div class='card-content'>
        {{post.body}}
    </div>
    <div class="card-action">
        {{post.created_at}}
    </div>
</div>

<hr>
{% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_at }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.body }}</p>
    </div>
{% empty %}
    <p>No comments here yet.</p>
{% endfor %}

<a class='btn purple lighten-3' href="/posts">Go Back</a>
{% endblock %}
