{% extends 'posts/layout.html' %}

{% block content %}
<h4 class='center-align purple lighten-1 white-text'> {{post.title}} </h4>
<div class='card'>
    <div class='card-content'>
        {{post.body}}
    </div>
    <div class="card-action">
        {{post.created_at}}
    </div>
</div>

<h6>Comments from my readers</h6>
<ul class='collection'>
    {% for comment in post.comments.all %}
        <li class="collection-item">
            <span class="title">{{ comment.created_at }}</span>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.body }}</p>
        </li>

    {% empty %}
        <p>No comments here yet.</p>
    {% endfor %}
</ul>



<a class='btn-small waves-effect waves-light' href="/posts">Go Back</a>
{% endblock %}
