{% load static %}
{% load posts_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "materialize.css" %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django-Test (Posts)</title>

    <style>
        @media screen and (max-width: 479px) {
            #menu_small { display:inherit;}
            #menu_large { display:none;}
        }
        @media screen and (min-width: 479px) {
            #menu_small { display:none;}
            #menu_large { display:inherit;}
        }
    </style>
</head>
<body>  
    <!-- Drop down NAVBAR -->
    <!-- Dropdown Structure -->
    {% if user.is_authenticated %}
        <ul id="dropdown1" class="dropdown-content active">
            <li><a href="{% url 'post_new' %}" class='purple-text lighten-1'>
                <i class="material-icons">add</i>New Post</a></li>
            <li><a href="{% url 'post_draft_list' %}" class='purple-text lighten-1'>
                <i class="material-icons">drafts</i>Review Drafts<span class="badge">{% num_drafts %}</span></a></li>
            <li><a href="/admin" class='purple-text lighten-1'>
                <i class="material-icons">lock</i>Admin</a></li>
            <li><a href="{% url 'logout' %}" class="purple-text lighten-1">
                <i class="material-icons">eject</i>
                Logout</a></li>
        </ul>
    {% endif %}

    <nav>
        <div class="nav-wrapper purple lighten-1">
            <a href="/posts" class="brand-logo" style="padding-left:12px">Posts</a>

            <ul class="right">
                <!-- Dropdown Trigger -->
                {% if user.is_authenticated %}
                    <li id="menu_small"><a class="dropdown-trigger active" href="#!" data-target="dropdown1">
                        <i class="material-icons right" id="menu_button">menu</i></a></li>
                    <li id="menu_large"><a class="dropdown-trigger active" href="#!" data-target="dropdown1">
                            {{ user.username }}
                            <i class="material-icons right" id="menu_button">menu</i></a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login
                            <i class="material-icons right">lock</i></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class='container'>
         {% block content %}
         {% endblock %}
    </div>

    <!-- jquery -->
    <script 
        src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "materialize.js" %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.dropdown-trigger');
            
            var options = {
                coverTrigger: false,
                constrainWidth: false
            }

            var instances = M.Dropdown.init(elems, options);
            });  
    </script>
    
    {% if messages %}
        <script>
            {% for message in messages %}
                var c = 'black white-text'
                {% if message.tags == 'success' %}
                    var c = 'green'
                {% endif %}
                {% if message.tags == 'info' %}
                    var c = 'blue lighten-4 black-text'
                {% endif %}
                {% if message.tags == 'warning' %}
                    var c = 'orange darken-3 white-text'
                {% endif %}
                {% if message.tags == 'error' %}
                    var c = 'red darken-1 white-text'
                {% endif %}
                M.toast({html: '{{ message }}', classes: c})
            {% endfor %}
        </script>
    {% endif %}

    <!-- page specific javascript goes here -->
    {% block javascript %} {% endblock %}
</body>
</html>