{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static "materialize.css" %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django-Test (Posts)</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper purple lighten-1">
            <a href="/posts" class="brand-logo center">Posts</a>
            {% if user.is_authenticated %}
            <!-- Add new posts button -->
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light teal" 
                href="{% url 'post_new' %}">
                <i class="material-icons">add</i>
            </a>
            <br><br>
            <!-- Review unpublished posts button -->
            <a class="large waves-effect waves-light teal"
                href="{% url 'post_draft_list' %}">
                <i class="material-icons">drafts</i>
            </a>
            {% endif %}
        </div>
    </nav>

    <div class='container'>
         {% block content %}
         {% endblock %}
    </div>

    <br>
    <a style='display:block' class='center-align' href="/admin">Administrator Login</a>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{% static "materialize.js" %}"></script>
</body>
</body>
</html>